
*{
    margin: 0px;
}

#overskrift
{
    background-color: orange;
    margin: 20px;
    color: black;
    width:fit-content;
    padding: 10px;
}

#nyBedrift{
    background-color: lightgray;
    margin: 30px 30px 10px 50px;
    color: black;
    width:fit-content;
    padding: 10px;
}

#nyFolk{
    background-color: lightgray;
    margin: 0px 30px 10px 70px;
    color: black;
    width:fit-content;
    padding: 10px;
}

#nr1{
    padding: 0px 0px 0px 15px;
}

#personer{
    background-color: gray;
    width: fit-content;
}

#personliste{
    width:fit-content;
    padding: 0px;
}